@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply no-animation hover:scale-105;
}

/* Chrome, Safari, Edge, Opera */
input.hideArrows::-webkit-outer-spin-button,
input.hideArrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.hideArrows[type="number"] {
  -moz-appearance: textfield;
}

/* .hideArrows{
  @apply hidden md:flex
} */

.navbarSVG {
  @apply my-auto cursor-pointer font-exo;
}

.scrollbarClass {
  @apply scrollbar scrollbar-track-base-200 scrollbar-thumb-secondary;
}
.dashedButton {
  @apply btn-outline btn-info btn rounded-full border-4 border-dashed p-2;
}

.heroElements {
  @apply inline-block rounded-full bg-primary/60	 p-2  text-center  font-medium text-neutral lg:rounded-full  lg:px-4 lg:py-8;
}
.blobElement {
  @apply absolute h-36 w-36 animate-blob rounded-full opacity-30 mix-blend-multiply blur-2xl filter sm:h-72 sm:w-72;
}

.star-rating {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.c-star {
  width: var(--size, 32px);
  height: var(--size, 32px);
  fill: lightgrey;
  stroke: grey;
}

.c-star-active {
  width: var(--size, 32px);
  height: var(--size, 32px);
  fill: lightgrey;
  stroke: grey;
  fill: #fed94b;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

#body {
  animation: 2s fade forwards ease-in-out;
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#right-heart,
#left-heart {
  animation: blink 1s linear 0s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#banner {
  animation: swing 1s forwards ease-in-out;
  transform: rotate(45deg);
}

@keyframes swing {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#whole {
  animation: shake 2s linear 2s infinite alternate;
}

@keyframes shake {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}
